.title{
    text-align: center;
    border: double medium #32292F;
 }

body{
    background-color: rgb(239, 240, 243);
    overflow-y: hidden;
    overflow-x: hidden;
}

#background{
    margin-left: 20%;
    margin-right: 20%;
}

.start{
    background-color: #32292F;
    max-width: 900px;
    min-height: 600px;
    margin-left: 20%;
    margin-right: 20%;
}

#button1 , #button2{
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
    border: 1px solid rgba(27, 31, 35, .15);
    cursor: pointer;
    border-radius: 6px; /* arrondir les bords */
    width: 50%;
    height: 60px;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: #32292F;
}

a:hover{
    text-decoration: underline;
    color: rgb(68, 61, 61);
}

footer{
    text-align: center;
    background-color: white;
    height: 10vh;
    width: 101vw;
    margin-left: -1vw;
}

footer p{
    font-size: 3vh;
    color: rgb(129, 27, 173);
}